<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <script>
        //jQuery
        $.ajax({
            url : 'board.json',
            // data : {},
            // contentType : '',
            // dataType : 'json',
            success : function(data){
                let findData = data['board'][0];
                console.log(findData['no'],findData['title']
                            ,findData['content'], findData['view']);
                console.log('==============================');
            },
            error : function(reject){
                console.log(reject);
            },
            // beforeSend : function(){},
            // async : false
        })
        
        // 자바스크립트
        fetch('board.json')
        .then(response => response.json())
        .then(data => {
            let findData = data['board'][0];
            console.log(findData['no'],findData['title']
                        ,findData['content'], findData['view']);
            console.log('==============================');
        })
        .catch(err => console.log(err));
    </script>
    <div id="app">
        <h2>간단한 게시판</h2>
        <p>게시판 데이터 json 파일 읽기</p>
        <input type="file" v-on:change="loadData($event)">
        <button v-on:click="saveBoardList">게시판 저장하기</button>
        <my-board-list v-if="listOk" 
                       v-bind:object="dataArray['board']"
                       v-on:board-read="boardRead"
                       v-on:board-write="boardWrite"
                       v-on:board-delete="boardDelete"></my-board-list>
        <my-board-read v-if="readOk" 
                       v-bind:object="boardInfo"
                       v-on:board-list="boardList"></my-board-read>
        <my-board-write v-if="writeOk" 
                        v-on:board-list="boardList" 
                        v-on:board-save="boardSave"></my-board-write>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            // Vue 객체를 정의
            new Vue({
                el : '#app',
                data : {
                    listOk : false,
                    readOk : false,
                    writeOk : false,
                    dataArray : {},     // 파일에서 읽은 데이터
                    boardInfo : {}      // 선택된 게시글 정보
                },
                components : {
                    'my-board-list' : myBoardList,
                    'my-board-read' : myBoardRead,
                    'my-board-write' : myBoardWrite
                },
                methods : {
                    loadData : function(event){ // 파일을 읽어들이는 메소드
                        let file = event.target.files[0].name;
                        if(file){
                            /*
                            const vueObj = this;
                            $.ajax({
                                url : file,
                                success : function(data){
                                    console.log(data);
                                    vueObj.dataArray = data;
                                },
                                error : function(reject){
                                    console.log(reject);
                                }
                            })
                            */
                           fetch(file)
                           .then(response => response.json())
                           .then(data => {
                                this.dataArray = data;
                                if(this.dataArray != null && this.dataArray['board'].length > 0){
                                    this.listOk = true;
                                }
                           }).catch(err => console.log(err));
                        }
                    },
                    boardList : function(){ // 게시판 목록 조회
                        this.listOk = true;
                        this.readOk = false;
                        this.writeOk = false;
                    },
                    boardWrite : function(){ // 게시판 글쓰기
                        this.listOk = false;
                        this.readOk = false;
                        this.writeOk = true;
                    },
                    boardRead : function(info){ //게시판 글 조회
                        //컴포넌트 생성여부
                        this.listOk = false;
                        this.readOk = true;
                        this.writeOk = false;

                        //게시판 글 상세조회
                        this.boardInfo = info;

                        //해당 글 조회수 증가
                        for(let i=0; i<this.dataArray['board'].length; i++){
                            if(this.dataArray['board'][i].no == info.no){
                                this.dataArray['board'][i].view 
                                    = parseInt(this.dataArray['board'][i].view)+1;
                            }
                        }
                    },
                    boardSave : function(title, content){  // 게시글 저장
                        let no = 1;
                        if(this.dataArray['board'].length != 0){
                            let index = this.dataArray['board'].length-1;
                            no = parseInt(this.dataArray['board'][index].no)+1;
                        }

                        let boardInfo = {
                            'no' : no,
                            'title' : title,
                            'content' : content,
                            'view' : '1'
                        }

                        this.dataArray['board'].push(boardInfo);

                        this.boardList();
                    },
                    boardDelete : function(no){ // 게시글 삭제
                        for(let i=0; i<this.dataArray['board'].length; i++){
                            if(this.dataArray['board'][i].no == no){
                                this.dataArray['board'].splice(i, 1);
                            }
                        }
                    },
                    saveBoardList : function(){
                        let data = this.dataArray;

                        if(data.length == 0){
                            alert('저장할 게시판 내용이 없습니다.');
                            return;
                        }

                        if(typeof data === 'object'){
                            data = JSON.stringify(data, undefined, 4);
                        }

                        let blob = new Blob([data], {type:'text/json'});
                        let a = document.createElement('a');
                        a.download='board.json';
                        a.href = window.URL.createObjectURL(blob);
                        a.click();
                    }
                }
            })
        });
        //컴포넌트 리스트
        
        //myBoardList : 게시판 목록 조회
        const myBoardList = {
            template : `<div>
                            <table id="list">
                                <!-- HEADER -->
                                <tr>
                                    <th style="width:50px;">글번호</th>
                                    <th>글제목</th>
                                    <th style="width:50px;">조회수</th>
                                    <th style="width:70px;"></th>
                                </tr>
                                <!-- DATA LIST -->
                                <tr v-for="item in object" v-bind:key="item.no">
                                    <td>{{ item.no }}</td>
                                    <td v-on:click="boardRead(item)">{{ item.title }}</td>
                                    <td>{{ item.view }}</td>
                                    <td><button v-on:click="boardDelete(item.no)">삭제</button></td>
                                </tr>
                            </table>
                            <button style="float:right;" v-on:click="boardWrite">글쓰기</button>
                        </div>`,
            props : ['object'],
            methods : {
                boardRead : function(info){
                    this.$emit('board-read', info);
                },
                boardDelete : function(no){
                    this.$emit('board-delete', no);
                },
                boardWrite : function(){
                    this.$emit('board-write');
                }
            }
        };

        //myBoardRead : 게시판 글 조회
        const myBoardRead = {
            template : `<div>
                            <table id="list">
                                <tr>
                                    <td style="width:50px;">글제목</td>
                                    <td>{{ object.title }}</td>
                                </tr>
                                <tr style="height:300px;">
                                    <td colspan="2">{{ object.content }}</td>
                                </tr>
                            </table>
                            <button style="float:right;" v-on:click="boardList">목록</button>
                        </div>`,
            props : ['object'],
            methods : {
                boardList : function(){
                    this.$emit('board-list');
                }
            }
        }

        //myBoardWrite : 게시판 글쓰기
        const myBoardWrite = {
            template : `<div>
                            <table id="list">
                                <tr>
                                    <td>글제목</td>
                                    <td><input type="text" style="width:90%; " v-model="title"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <textarea style="width:100%;" v-model="content"></textarea>
                                    </td>
                                </tr>     
                            </table>
                            <button style="float:right;" v-on:click="boardList">목록</button>
                            <button style="float:right;" v-on:click="boardSave">저장</button>
                        </div>`,
            data : function(){
                return {
                    title : '',
                    content : ''
                }
            },
            methods : {
                boardList : function(){
                    this.$emit('board-list');
                },
                boardSave : function(){
                    this.$emit('board-save', this.title, this.content);
                }
            }
        }
    </script>
</body>
</html>