<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
    <script>
      //jQuery
      $.ajax({
        url: "board.json",
        // data : {},
        // contentType : '',
        // dataType : 'json',
        success: function (data) {
          let findData = data["board"][0];
          console.log(
            findData["no"],
            findData["title"],
            findData["content"],
            findData["view"]
          );
          console.log("==============================");
        },
        error: function (reject) {
          console.log(reject);
        },
        // beforeSend : function(){},
        // async : false
      });

      // 자바스크립트
      fetch("board.json")
        .then((response) => response.json())
        .then((data) => {
          let findData = data["board"][0];
          console.log(
            findData["no"],
            findData["title"],
            findData["content"],
            findData["view"]
          );
          console.log("==============================");
        })
        .catch((err) => console.log(err));
    </script>
    <div id="app">
      <h2>간단한 게시판</h2>
      <p>게시판 데이터 json 파일 읽기</p>
      <!-- borad.json 파일 읽어오는 부분-->
      <!-- ajax, fetch 파일 읽고 화면 출력-->
      <input type="file" v-on:change="loadData($event)" />

      <!-- 화면에 보여지는 게시글 json 파일로 다운로드-->
      <button v-on:click="saveBoardList">게시판 저장하기</button>

      <!-- 자식 컴포넌트를 활용해서 기능을 나누어 둔 것-->
      <!-- SPA 개념을 활용 v-if가 false이면 안 보임 true면 보임-->
      <my-board-list
        v-if="listOk"
        v-bind:object="dataArray['board']"
        v-on:board-read="boardRead"
        v-on:board-write="boardWrite"
        v-on:board-delete="boardDelete"
      ></my-board-list>
      <my-board-read
        v-if="readOk"
        v-bind:object="boardInfo"
        v-on:board-list="boardList"
      ></my-board-read>
      <my-board-write
        v-if="writeOk"
        v-on:board-list="boardList"
        v-on:board-save="boardSave"
      ></my-board-write>
    </div>
    <script>
      //jQuery로 하면 $(document).ready(function() {
      //자바스크립트
      document.addEventListener("DOMContentLoaded", function () {
        // Vue 객체를 정의
        new Vue({
          el: "#app",
          data: {
            listOk: false,
            readOk: false,
            writeOk: false,
            dataArray: {}, // 파일에서 읽은 데이터
            boardInfo: {}, // 선택된 게시글 정보
          },
          components: {
            "my-board-list": myBoardList,
            "my-board-read": myBoardRead,
            "my-board-write": myBoardWrite,
          },
          methods: {
            loadData: function (event) {
              // 파일을 읽어들이는 메소드
              console.log(event.target.files);
              let file = event.target.files[0].name;
              if (file) {
                /*
                            파일이름이 존재한다면 fetch문 작동
                            밑에는 ajax로 구현한 것 필요하면 쓰기
                            const vueObj = this;
                            $.ajax({
                                url : file,
                                success : function(data){
                                    console.log(data);
                                    vueObj.dataArray = data;
                                },
                                error : function(reject){
                                    console.log(reject);
                                }
                            })
                            */
                fetch(file)
                  .then((response) => response.json())
                  .then((data) => {
                    this.dataArray = data;
                    if (
                      this.dataArray != null &&
                      this.dataArray["board"].length > 0
                    ) {
                      this.listOk = true;
                    }
                  })
                  .catch((err) => console.log(err));
              }
            },
            // 부모component에 boardList가 없지만 자식component $emit 를 이용해 사용.
            // 부모에 boardList를 쓰면 코드가 복잡해지므로
            boardList: function () {
              // 게시판 목록 조회
              this.listOk = true;
              this.readOk = false;
              this.writeOk = false;
            },
            boardWrite: function () {
              // 게시판 글쓰기
              this.listOk = false;
              this.readOk = false;
              this.writeOk = true;
            },
            boardRead: function (info) {
              //게시판 글 조회
              //컴포넌트 생성여부
              this.listOk = false;
              this.readOk = true;
              this.writeOk = false;

              //게시판 글 상세조회
              this.boardInfo = info;

              //해당 글 조회수 증가
              //json 파일에 저장 된 dataArray. no는 게시판번호
              for (let i = 0; i < this.dataArray["board"].length; i++) {
                if (this.dataArray["board"][i].no == info.no) {
                  this.dataArray["board"][i].view =
                    parseInt(this.dataArray["board"][i].view) + 1;
                }
              }
            },
            boardSave: function (title, content) {
              // 게시글 저장
              //게시글 번호 지정
              let no = 1;
              if (this.dataArray["board"].length != 0) {
                let index = this.dataArray["board"].length - 1;
                no = parseInt(this.dataArray["board"][index].no) + 1;
              }

              let boardInfo = {
                no: no,
                title: title,
                content: content,
                view: "1",
              };
              //배열에 추가하는 것이 push
              this.dataArray["board"].push(boardInfo);

              this.boardList();
            },
            boardDelete: function (no) {
              // 게시글 삭제
              for (let i = 0; i < this.dataArray["board"].length; i++) {
                if (this.dataArray["board"][i].no == no) {
                  this.dataArray["board"].splice(i, 1);
                }
              }
            },
            saveBoardList: function () {
              //게시글을 담고 있는 변수 -object
              let data = this.dataArray;

              if (data.length == null || data.board.length == 0) {
                alert("저장할 게시판 내용이 없습니다.");
                return; //강제함수종료(밑으로 가지 않고 saveBoardList종료 )
              }

              if (typeof data === "object") {
                //stringify: object를 json형태의 문자열로 변환
                data = JSON.stringify(data, undefined, 4);
              }
              //blob: 파일이나 이미지 등 대용량 다운받을 때 사용
              //data 는 파일 type은 파일형식 text형식을 json으로
              //이미지 2진수 검색해서 공부하기
              let blob = new Blob([data], { type: "text/json" });
              let a = document.createElement("a");
              //다운 받을 팡리 명
              a.download = "board.json";
              //서버에서 다운 받을 파일 URL(경로) 000
              a.href = window.URL.createObjectURL(blob);
              //a 태그 클릭했을 때 다운로드 이벤트 실행
              a.click();
            },
          },
        });
      });
      //여기서부터 자식컴포넌트
      //컴포넌트 리스트

      //myBoardList : 게시판 목록 조회
      const myBoardList = {
        template: `<div>
                            <table id="list">
                                <!-- HEADER -->
                                <tr>
                                    <th style="width:50px;">글번호</th>
                                    <th>글제목</th>
                                    <th style="width:50px;">조회수</th>
                                    <th style="width:70px;"></th>
                                </tr>
                                <!-- DATA LIST props에서 object를 가져옴
                                  그러면 props의 object는 부모 my-boardList에서 dataArray['board']가 들어간 object
                                  데이터 건 당 고유한 ID를 주는게 KEY 보통 게시글번호를 활용
                                  item에는 게시글번호 게시글 제목 조회수 컨텐츠가 있고 boardRead라는 매개변수로-->
                                <tr v-for="item in object" v-bind:key="item.no">
                                    <td>{{ item.no }}</td>
                                    <td v-on:click="boardRead(item)">{{ item.title }}</td>
                                    <td>{{ item.view }}</td>
                                    <td><button v-on:click="boardDelete(item.no)">삭제</button></td>
                                </tr>
                            </table>
                            <button style="float:right;" v-on:click="boardWrite">글쓰기</button>
                        </div>`,
        props: ["object"],
        //부모 컴포넌트에 한번만 만들면 자식들이 여러번 쓸 수 있게 $emit 걸어둠(재사용성 증가)
        methods: {
          boardRead: function (info) {
            //html 인식 못해서 board-read라고 씀 자바스크립트 boardRead와 같다
            //매개변수가 많으면 info 뒤에 ,쓰고 추가하면 됨
            this.$emit("board-read", info);
          },
          boardDelete: function (no) {
            this.$emit("board-delete", no);
          },
          boardWrite: function () {
            this.$emit("board-write");
          },
        },
      };

      //myBoardRead : 게시판 글 상세 조회
      //object는 props의 object, props의 object는 boardInfo를 가져와서 쓴다.
      //boardInfo는 boardRead에서 this.boardInfo = info로 조회
      const myBoardRead = {
        template: `<div>
                            <table id="list">
                                <tr>
                                    <td style="width:50px;">글제목</td>
                                    <td>{{ object.title }}</td>
                                </tr>
                                <tr style="height:300px;">
                                    <td colspan="2">{{ object.content }}</td>
                                </tr>
                            </table>
                            <button style="float:right;" v-on:click="boardList">목록</button>
                        </div>`,
        props: ["object"],
        methods: {
          boardList: function () {
            this.$emit("board-list");
          },
        },
      };

      //myBoardWrite : 게시판 글쓰기
      const myBoardWrite = {
        template: `<div>
                            <table id="list">
                                <tr>
                                    <td>글제목</td>
                                    <td><input type="text" style="width:90%; " v-model="title"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <textarea style="width:100%;" v-model="content"></textarea>
                                    </td>
                                </tr>     
                            </table>
                            <button style="float:right;" v-on:click="boardList">목록</button>
                            <button style="float:right;" v-on:click="boardSave">저장</button>
                        </div>`,
        data: function () {
          return {
            title: "",
            content: "",
          };
        },
        methods: {
          boardList: function () {
            this.$emit("board-list");
          },
          boardSave: function () {
            this.$emit("board-save", this.title, this.content);
          },
        },
      };
    </script>
  </body>
</html>
