<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="daegu">
      <input v-on:keyup.enter="showAlert" v-model="myText" />
      <p>{{myText}}</p>

      <!--shift enter 같이 눌렀을 때 됨-->

      <input v-on:keyup.enter.shift="shift" v-model="myText2" />
      <p>{{myText2}}</p>
    </div>

    <script>
      new Vue({
        el: "#daegu",
        data: {
          myText: "hello",
          myText2: "world",
        },
        methods: {
          showAlert: function () {
            alert("Enter키를 눌렀습니다.");
          },
          shift: function () {
            alert("shift 엔터키를 눌렀습니다.");
          },
        },
      });
    </script>
  </body>
</html>
