<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!--div#app치고 엔터하면 됨-->
    <div id="app">
      <label> <input type="checkbox" v-model="myVisible" />표시 </label>

      <!--v-show와 v-if차이를 콘솔창으로 확인하기-->
      <p v-show="myVisible">쇼박스 ON</p>
      <p v-if="myVisible">IF박스 ON</p>
      <p v-else>체크박스 OFF</p>

      <button v-if="isShow" @click="good">좋아</button>

      <br />
      <br />
      <!--A를 썼을 때 template titles 뜨거나
      안 쓰면 else template titles-->
      <template v-if="type=='A'">
        <h1>template titles</h1>
        <p>template p tag</p>
      </template>
      <template v-else>
        <h1>else template titles</h1>
        <p>else template p tag</p>
      </template>

      <p v-if="type=='A'"></p>
      <p v-else-if="type=='B'">B</p>
      <p v-else-if="type=='C'">C</p>
      <p v-else>{{type}}</p>
      <!--type+elsess로 하면 undefined에서 첫 단어만 바뀜-->
      <input v-model="type" />
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          myVisible: false,
          isShow: true,
          type: "",
        },
        methods: {
          good: function () {
            this.isShow = false;
          },
        },
      });
    </script>
  </body>
</html>
