<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03081218vmodel</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="myName" placeholder="이름" />
      <p>나는 {{myName}}입니다.</p>
      <textarea v-model="myText"></textarea>
      <p>문장은, {{myText}}</p>
      <p>문자수 : {{myText.length}}</p>
      <label>
        <input type="checkbox" v-model="myCheck" />
        체크박스의 상태 : {{myCheck}}
      </label>
      <br /><br />
      <label>
        <input type="checkbox" v-model="myChecks" value="red" />
        빨간색 </label
      ><br />

      <label>
        <input type="checkbox" v-model="myChecks" value="green" />
        초록색 </label
      ><br />

      <label>
        <input type="checkbox" v-model="myChecks" value="blue" />
        파란색 </label
      ><br />

      선택한 색 : {{myChecks}}
      <br />
      <label>
        <input type="checkbox" v-model="myAgree" />
        동의합니다.
      </label>
      <button type="button" v-bind:disabled="myAgree == false">송신</button>
      <!--myAgree 체크박스가 false(선택되지 않았을때)일 때 버튼 비활성화-->
      <br />

      <label>
        <input type="radio" value="red" v-model="picked" />
        빨간색 </label
      ><br />

      <label>
        <input type="radio" value="green" v-model="picked" />
        초록색 </label
      ><br />

      <label>
        <input type="radio" value="yellow" v-model="picked" />
        노란색 </label
      ><br />

      {{picked}} 선택
      <br />

      <label>
        <input type="radio" value="cat.PNG" v-model="fileName" />
        고양이 </label
      ><br />

      <label>
        <input type="radio" value="fighting.PNG" v-model="fileName" />
        화이팅 </label
      ><br />
      <div>
        <img v-bind:src="fileName" />
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          myName: "",
          myText: "오늘 날씨가 따뜻",
          myCheck: false,
          myChecks: [],
          myAgree: false,
          picked: "red",
          fileName: "",
        },
      });
    </script>
  </body>
</html>
