<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="yedam">
      <select v-model="myColor">
        <option disabled value="">색 선택</option>
        <option>red</option>
        <option>green</option>
        <option>blue</option>
        <option>orange</option>
        <option>brown</option>
        <option>111</option>
        <!--111은 숫자가 아니라 문자로 입력된다.
          그래서 112로 출력되지 않고 1111로 출력됨-->
      </select>

      <p v-bind:style="{color:myColor}">선택한 색상은 {{myColor+1}} 입니다.</p>
      <br />
      <select v-model="myColors" multiple style="width: 150px">
        <option disabled value="">색 선택</option>
        <option>red</option>
        <option>green</option>
        <option>blue</option>
        <option>orange</option>
        <option>brown</option>
      </select>
      <p>선택한 색은 {{myColors}} 입니다.</p>
    </div>
    <script>
      new Vue({
        el: "#yedam",
        data: {
          myColor: "",
          myColors: [],
        },
      });
    </script>
  </body>
</html>
