<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03090900for2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>관심 받고 있는 언어 랭킹</h3>
      <table>
        <thead>
          <!--연도-->
          <th v-for="item in header">{{item}}</th>
        </thead>
        <tbody>
          <!--언어별 순위-->
          <tr v-for="line in ranking">
            <td v-for="item in line">{{item}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      let headerData = ["프로그래밍언어", 2018, 2013, 2008, 2003, 1998];
      let rankingData = [
        ["java", 1, 2, 1, 1, 16],
        ["C", 2, 1, 2, 2, 1],
        ["C++", 3, 4, 3, 3, 2],
        ["Python", 4, 7, 6, 11, 23],
        ["JavaScript", 7, 10, 8, 7, 20],
      ];
      new Vue({
        el: "#app",
        data: {
          header: headerData,
          ranking: rankingData,
        },
      });
    </script>

    <hr />
    <div id="app2">
      <h3>목록을 구성하는 데이터 변경시 목록 업데이트</h3>
      <ul>
        <li v-for="item in myArray">
          <!--배열 값-->
          {{item}}
        </li>
      </ul>
      <button @click="addList">맨 뒤에 추가</button>
      <button v-on:click="addObj(3)">네 번째에 추가</button>
      <button v-on:click="changeObj(0)">첫 번째를 변경</button>
      <button @click="deleteObj(1)">두 번째를 삭제</button>
    </div>
    <script>
      let data = ["첫번째", "두번째", "세번째", "네번째", "다섯번째"];
      new Vue({
        el: "#app2",
        data: {
          myArray: data,
        },
        methods: {
          addList: function () {
            //myArray 맨 뒤에 데이터를 추가
            //javaScript에 내용을 가져와서 사용
            this.myArray.push("[맨 뒤에 추가]");
          },
          addObj: function (index) {
            //index 계산할 시작 자리 의미, 0은 그 자리에 들어간다는 의미 1이면 그 다음 자리
            this.myArray.splice(index, 0, ["추가"]);
          },
          changeObj: function (index) {
            //index에 0이 들어가면 첫 데이터보다 앞을 의미한다.
            this.myArray.splice(index, 1, ["변경"]);
          },
          deleteObj: function (index) {
            this.myArray.splice(index, 1);
          },
        },
      });
    </script>

    <hr />

    <div id="app3">
      <ul>
        <li v-for="item in myArray">
          <!-- 배열 데이터를 나열-->
          {{item}}
        </li>
      </ul>
      <button @click="sortData(myArray)">정렬</button>
    </div>

    <script>
      new Vue({
        el: "#app3",
        data: {
          myArray: ["one", "two", "three", "four", "five"],
        },
        methods: {
          sortData: function (dataList) {
            dataList.sort(function (a, b) {
              // 5, 10, 2, 5
              // 5 < 10 -> return -1  5,10 유지
              // 10 < 2 -> return 1  2,10 변경
              //오름차순 정렬(문자는 알파벳순으로)
              // a < b retrun -1
              return a < b ? -1 : 1;
              //------------------------------------------------
              //부등호를 반대로 바꾸면 내림차순 정렬이됨(return a > b ? -1 : 1)
            });
          },
        },
      });
    </script>
  </body>
</html>
