<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h2>ToDo리스트</h2>
    <div id="app">
      <div v-for="todo in todos">
        <label>
          <input type="checkbox" v-model="todo.done" />
          <!-- 객체에 있는 값을 가져오기 위해 todo.done
            위에서 todo라고 했기 때문에 todo라고 써야됨.
            checkbox는 false로 하면 체크가 안됨 true면 체크 -->
          <span :class="{donestyle:todo.done}"> {{todo.text}} </span>
          <!--true가 되었을 때 span 스타일이 적용된다.-->
          <!-- true가 되면 -->
        </label>
      </div>

      <input
        type="text"
        v-model:trim="addText"
        v-on:keyup.enter="addToDo"
        placeholder="할 일 작성"
      />
      <p><button @click="cleanToDo">처리완료삭제</button></p>

      <p>{{remaining}} / {{todos.length}}</p>
      <!-- 처리한 수 // 전체 수 -->
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          addText: "",
          todos: [
            { done: true, text: "빵사기" },
            { done: false, text: "커피사기" },
          ],
        },
        computed: {
          remaining: function () {
            return this.todos.filter(function (val) {
              console.log(val);
              return val.done;
              //val.done는 반환해줄 수 있는 값(선택한 것이 없으면 반환할 값이 0)
              //filter가 true인 값만 반환
            }).length;
          },
        },
        methods: {
          addToDo: function () {
            if (this.addText) {
              this.todos.push({ done: false, text: this.addText });
              this.addText = "";
            }
          },
          cleanToDo: function () {
            this.todos = this.todos.filter(function (val) {
              return val.done == false;
              //false인 애들만 return하라는 의미
              //return val.done == true;를 하면 체크한 항목만 보임
            });
          },
        },
      });
    </script>
  </body>
  <style>
    .donestyle {
      text-decoration: line-through;
      color: crimson;
    }
  </style>
</html>
